.section-usps {
    p {
        color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


        i{
            padding-right: 10px;
            font-size: 64px;
            &.green {
                color: #77BB44;
                &.xbox {
                    color: #214E00;
                }
            }
            &.blue {
                color: #00F6FF;
            }
        }
    }
}
