.text {
    text-align: left;

    &.center {
        text-align: center;
    }

    &.right {
        text-align: right;
    }
}

.font {
   &.size16 {
       font-size: 1em;
   }
    &.size20 {
        font-size: 1.250em;
    }
    &.size22 {
        font-size: 1.375em;
    }
    &.size26 {
        font-size: 1.625em;
    }
    &.size28 {
        font-size: 1.750em;
    }
    &.size30 {
        font-size: 1.75em;
    }


    &.family {
        &.title {
            font-family: $fontTitle;
        }

        &.body {
            font-family: $fontBody;
        }

        &.link {
            font-family: $fontLink;
        }

        &.special {
            font-family: $fontSpecial;
        }
    }
}
